@charset "UTF-8";
.information-letter { text-align : center; }
.main-title { font-size : 1.5em; color : #3E73BE; }
.main-title-bold { font-weight : bold; }
.sub-title { font-size : 0.8em; color : #333333; }
.step-button { text-align : center;}
.button-step1 {
	width : 35%;
	height : 50px;
	text-align : center;
	font-weight : bold;
	color : white;
	background-color : #4E79CC;
	border : none;
	border-radius : 0px;
	margin-right : 10px;
}
.button-step2 {
	width : 35%;
	height : 50px;
	text-align : center;
	font-weight : bold;
	color : white;
	background-color : #73777C;
	border : none;
	border-radius : 0px;
	margin-left : 10px;
}